.container {
  /* background-color: var(--light); */
  background-color: var(--medBlue);
  padding: 50px 1px 50px 1px;
  text-align: center;
  max-width: 100vw;
  height: 100%;
}
.formH1 {
  padding: 15px;
  font-weight: 700;
  padding-top: 0px;
}
.form-container {
  min-width: 320px;
  max-width: 375px;
}
@media screen and (max-width: 500px) {
  .form-container {
    min-width: 95vw;
    max-width: 95vw;
  }
}
@media screen and (min-width: 500px) {
  .form-container {
    min-width: 400px;
    max-width: 400px;
  }
}
.returnSubmit {
  margin-bottom: 20px;
}
.form-label {
  color: rgb(57, 57, 57);
  font-size: 18px;
}
input[type='range'] {
  padding: 30px;
}
.exercise-form {
  margin-top: 20px;
  background-color: var(--light);
  border: 1px solid black;
  border-radius: 2%;
  box-shadow: 4px 5px 5px grey;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
