.scroll-container {
  max-height: 300px;
  overflow-y: auto;
}
.exercise-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.exercise-label {
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
